/* Main container */
.change-password-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Form Section */
.form-section {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-upper-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
  justify-content: center;
}

.change-password-logo img {
  height: 50px;
  margin-bottom: 30px;
}

.change-password-text {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.forget-password-text {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.change-password-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 92.5%;
  padding-right: 40px;
}

.password-input i {
  position: absolute;
  right: 0px;
  left: 97%;
  top: 36%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.confirm-btn {
  padding: 12px;
  background-color: #51b246;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 105%;
}

.confirm-btn:hover {
  background-color: #419636;
}

/* Image Section */
.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.graphic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
  .change-password-container {
    flex-direction: column;
  }

  .form-section {
    width: 100%;
    padding: 30px 20px;
  }

  .image-section {
    display: none; /* Hide on smaller screens */
  }
}
